.search-form-sub-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.type-inputs-item {
    margin: 0px 45px;
}

.search-form-sub-div {
    margin: 10px;
    padding: 10px;
}

button {
    height: 20px;
    margin-left: 30px;
}